.Attributes {
  width: 100%;
  height: 500px;


}

.Attributes img.gifEstrela {
  width: 100%;
  height: 150vh;

}

.Attributes h1 {
  font-size: 26px;
  font-family: 'Star jedi ';
  letter-spacing: 3px;
  color: #5da8da;
  text-align: center;
  background-color: green;
}

.AtributesContainer {
  width: 60%;
  height: 200px;
  margin: 150px auto;
  position: absolute;
  top: 270%;
  left: 18%;



  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.AttributesImgJs {
  /* width: 120px;
  height: 120px;
  border: 1px solid #5da8da;
  border-radius: 30px;
  background-color: rgb(43, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center; */

  position: relative;
  text-align: center;
  background-color: #212121;
  width: 12rem;
  aspect-ratio: 1.1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5.5rem;
  cursor: pointer;
  transition: 0.2s;
border-bottom: 2px solid #A40EE4 ;

}

.AttributesImgJs:hover {
  position: relative;
  text-align: center;
  background-color: #212121;
  width: 12rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50% #fff;

  cursor: pointer;
  transition: 0.2s;
border-bottom: 2px solid #00c7f4 ;

}

.logoJs {
  margin-left: auto;
  margin-right: auto;
  display: block;



}
