.Attributes {
  width: 100%;
  height: 400px;


}

.Attributes img.gifEstrela {
  width: 100%;
  height: 150vh;

}

.Attributes h1 {
  font-size: 28px;
  font-family: 'Star jedi ';
  letter-spacing: 3px;
  color: #5da8da;
  text-align: center;
  position: absolute;
  top: 240%;
  left: 43%;

}

.AtributesContainer {
  width: 60%;
  height: 200px;
  margin: 150px auto;
  position: absolute;
  top: 270%;
  left: 18%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.AttributesImgJs {
  position: relative;
  text-align: center;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid #525559;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.2s;
/* border-bottom: 2px solid #A40EE4 ; */

}

/* .AttributesImgJs:hover {
  position: relative;
  text-align: center;
  background-color: #212121;

  width: 12rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50% #fff;

  cursor: pointer;
  transition: 0.2s;
border-bottom: 2px solid #00c7f4 ;

} */

.AttributesImgJs > img.logoJs {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 300px;
  display: block;


}
