/* .Menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.Menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content:space-between;
  align-items: center;

}


.Menu ul {
  display: flex;
  list-style-type: none;

}

.Menu ul li {
  margin: 20px 20px;
}

.Menu ul li::before,
ul li::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}

ul li::before {
  top: 2px;
  left: 0;
}

ul li::after {
  bottom: 0;
  right: 0;
}

ul li:hover::before {
  right: 0;
  left: auto;
  width: 100%;
  background-color: #df0000;
}

ul li:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  background-color: #c1f6ff;
}

.Menu li a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
  font-family: 'Star jedi ';
}

ul li:hover a {
  color: #5da8da;

}

.Menu > .iconBars {
  display: none;
}
