.Portfolio {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background: linear-gradient(to right, #000000, #212121);
  position: relative;
  top: 730px;
}

.Portfolio h1 {
  font-size: 28px;
  font-family: 'Star jedi ';
  letter-spacing: 3px;
  color: #5da8da;
text-align: center;
}

.box-portfolio {
  width: 100%;
  height: 300px;
  display: flex;

  position: relative;
  top: 280px;

}

.box-one, .box-two, .box-three, .box-four, .box-five, .box-six {
  width: 100%;
  height: 200px;
  border: 1px solid #fff;
}

.box-one {
  background-color: green;
}
.box-two {
  background-color: rgb(40, 208, 40);
}
.box-three {
  background-color: rgb(137, 162, 137);
}
.box-four {
  background-color: rgb(194, 229, 40);
}
.box-five {
  background-color: rgb(189, 105, 9);
}
.box-six {
  background-color: rgb(25, 107, 222);
}
