.Portfolio {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: linear-gradient(to right, #000000, #212121);
  position: relative;
  top: 730px;
}

.Portfolio h1 {
  font-size: 28px;
  font-family: 'Star jedi ';
  letter-spacing: 3px;
  color: #5da8da;
text-align: center;
}
